correlations/
data statistics/
dev_phase_normal/
dev_phase_normal THIS SERVER/


predictions_*/
F1_score_*/
*.zip
*.~lock.*


llm_confusion_matrices/
masked/


mean_results_tot_accuracy_priori.png
mean_results_tot_accuracy_priori_OLD.png
mean_results_tot_F1_score_priori.png
mean_results_tot_F1_score_priori_OLD.png


.env


anonymize_ids.py
statistics.py